<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../../../stylesheets/style.css' />
    <link rel='stylesheet' href='../../stylesheets/tailwind.css' />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
      [x-cloak]{
        display: none !important;
      }
      body {
            font-family: "Poppins", serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>

  </head>
  <body>

    <div class="grid grid-cols-6" >
        <%- include("partials/sidebar") %>
        <div class="col-span-5">
           
           
            <div class="max-w-5xl  mx-auto">

                <div>
                    <p class="px-2 py-3 "> Project:  <strong class="text-sm"><%= title %></strong></p>

                </div>
                <div x-data="{ isModalOpen: false, budgets:[] }" class="">
                    
                    <div class="flex">
                        <div class="flex-1">
                            <button  class="bg-indigo-400 text-white px-4 py-2 rounded cursor-pointer" onclick="window.history.back(-1)">Back</button>

                        </div>
                        <div class="flex justify-between gap-4 ">
                            <div class="flex-1 ">
                                <input type="text" id="search" placeholder="Search" class="mb-4 p-2 border border-gray-300 rounded ">
                            </div>
                            
                        </div>
                    </div>
                    <div x-cloak x-show="isModalOpen" class="fixed inset-0 bg-gray-600/20 bg-opacity-50 flex items-center justify-center">
                        <div class="bg-white p-6 rounded-lg shadow-lg w-[500px]">
                            <div x-data="{budget_id: null}">
                                <div class="flex justify-between items-center">
                                    <h2 class="text-xl font-bold mb-4">Choose year's budget</h2>
                                    
                                </div>
                            
                                <form method="" >
                                    <select class="w-full py-2 px-3 border border-gray-400 rounded" x-model="budget_id">
                                        <template x-for="(budget, index) in budgets"    >
                                            <!-- <option :value="'Year: '+budget.year+' - Amount Planned: '+budget.amount_planned" x-text="budget.year"></option> -->
                                            <option :value="budget.id" x-text="budget.year"></option>
                                        </template>
                                    </select>
                                     <!-- <p class="text-sm py-1"><b x-text="amount_planned"></b></p> -->
                                     
                                    <div class="flex justify-between py-2">
                                        <a x-show="budget_id"    :href="'/finance/component/'+budget_id+'/implementation'" class="bg-blue-500 text-white px-4 py-2 rounded">Continue</a>
                                        <button type="button" @click="isModalOpen = false" class="bg-gray-500 text-white px-4 py-2 rounded mr-2">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                
                
                <table class="w-full border-collapse border border-gray-300" id="componentTable">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border px-4 py-2">#</th>
                            <th class="border px-4 py-2">Component Name</th>
                            <th class="border px-4 py-2">Budget</th>
                            <th class="border px-4 py-2">Amount Used</th>
                            <th class="border px-4 py-2">Percentage(%)</th>
                            <th class="border px-4 py-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% components.forEach((component, index) => { %>
                            <tr class="text-left">
                                <td class="border px-4 py-2"><%= index + 1 %></td>
                                <td class="border px-4 py-2"><%= component.name %></td>
                                <td class="border px-4 py-2">300, 000frw</td>
                                <td class="border px-4 py-2">300, 000frw</td>
                                <td class="border px-4 py-2">4% </td>
                                <td class="border px-4 py-2">
                                 <div class="space-x-2 flex gap-2">
                                    <!-- <a href="/finance/component/<%= component.id %>/implementation" 
                                        class="bg-blue-400 text-white px-4 py-1 rounded"> Implementation </a>
                                     -->
                                     <button @click="isModalOpen = true; budgets=<%= JSON.stringify(component.budget_plannings.filter((c)=>c.account_type == 'COMPONENT')) %>" 
                                        class="bg-blue-400 text-white px-4 py-1 rounded"> Implementation </button>
                                    <a href="/finance/components/<%= component.id %>/activities" 
                                                class="bg-green-500 text-white px-4 py-1 rounded"> Activities</a>
                                 </div>

                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    <script>
        document.getElementById("search").addEventListener("input", function () {
            let filter = this.value.toLowerCase();
            let rows = document.querySelectorAll("#componentTable tr");
    
            rows.forEach(row => {
                let projectName = row.children[1].textContent.toLowerCase();
                row.style.display = projectName.includes(filter) ? "" : "none";
            });
        });
    </script>
</body>
</html>