<%- include("partials/header",{title}) %>

   
    <div class="grid grid-cols-6" >
        <%- include("partials/sidebar") %>
  
      <div class="col-span-5" id="content-area" x-data="{ activeTab: 1 }">
        <!-- <h1 class="text-md"><%= title %></h1> -->
            
        
      <!-- <div class="btn btn-group">
                <a href="partnership/create" class="btn btn-primary mx-2">Add New</a>
                <a href="partnership/report" class="btn btn-primary mx-2">Reports</a>
        </div> -->
        <div class="tabs p-6">
      
       
                

                <div class="flex space-x-4 border-b pb-2 mb-4">

                    <button @click="activeTab = 1" :class="{'font-bold border-b-2 border-blue-500 bg-green-600 rounded': activeTab === 1 }" class="px-4 py-2 bg-gray-50 shadow rounded text-sm">New <i class="fa fa-plus"></i> </button>
                    <button @click="activeTab = 2" :class="{'font-bold border-b-2 border-blue-500 bg-green-600 rounded': activeTab === 2}" class="px-4 py-2 bg-gray-50 shadow rounded text-sm">Report <i class="fa fa-book"></i></button>
                </div>


                <div x-cloak x-show="activeTab === 1">
                     <%- include("create/partnership") %>
                </div>
                <div x-cloak x-show="activeTab === 2">

                    <div class="flex justify-between items-center">
                        <h2 class="text-md mb-4 text-gray-500">Report</h2>
                        <a href="partnership/download" class="bg-success text-white py-2 px-3 rounded hover:text-green-800 flex items-center space-x-2">
                            <i class="fa fa-book"></i> <!-- Excel icon -->
                            <span>Export Excel</span>
                        </a>
                    </div>
                    
                    <div class="table-responsive px-3">
                        <table class="table table-bordered table-striped w-full">
                            <thead class="table-primary">
                                <tr>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">No</th>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Program</th>
                                    <!-- <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Partners</th> -->
                                    <!-- <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Year</th> -->
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Start Date</th>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">End Date</th>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Duration</th>
                                    <!-- <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Additional Partners</th>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Activities</th>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Responsible</th>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Budget</th>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">Comments</th>
                                    <th class="px-2 py-2 border-b text-gray-600 whitespace-nowrap">action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach((program, index) => { %>
                                <tr>
                                    <td class="px-2 py-2 text-sm border-b text-gray-600 text-center"><%= index + 1 %></td>
                                    <td class="px-2 py-2 text-sm border-b text-gray-600 text-center"><%= program.name %></td>
                                    <td class="px-2 py-2 text-sm border-b text-gray-600 text-center"><%= program.start_date %></td>
                                    <td class="px-2 py-2 text-sm border-b text-gray-600 text-center"><%= program.closing_date %></td>
                                    <td class="px-2 py-2 text-sm border-b text-gray-600 text-center"><%= program.duration %> days</td>
                                    <td class="px-2 py-2 text-sm border-b text-gray-600 text-center">
                                        <div class="btn btn-group">
                                            <a href="/partnership/<%= program.id %>/edit" class="btn btn-sm btn-info bg-blue-100 px-2 py-1 rounded font-bold text-blue-600"><i class="fa fa-edit"></i></a>
                                            <a href="/partnership/<%= program.id %>/view" class="btn btn-sm btn-info bg-blue-100 px-2 py-1 rounded font-bold text-blue-600"><i class="fa fa-eye"></i></a>
                                            <a href="/partnership/<%= program.id %>/delete" class="bg-red-100 px-2 py-1 rounded font-bold text-blue-600"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div x-show="activeTab === 3">
             
            
                </div>
                
    
        
      </div>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


  </body>
</html>


    
 

